.list-group-item > .label {
    float: right;
}

.nav > li.disabled.nav-header > a {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0px;
}

.table-action-button, .delete-form {
    display: inline-block;
}

.page-header {
    margin-top: 0;
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body {
    padding-top: 50px;
}
