.panel-body > dl {
    margin-bottom: 0px;
}

.price {
    text-align: right;
}

div.price {
    font-size: 33px;
}

.list-group-item > .label {
    float: right;
}

.nav > li.disabled.nav-header > a {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0px;
}

.table-action-button, .delete-form {
    display: inline-block;
}

.page-header {
    margin-top: 0;
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body {
    padding-top: 50px;
}

.panel-footer .pagination { margin: 0; }

table.sales-summary td {
    text-align: right;
}

table.sales-summary tbody th {
    text-transform: uppercase;
}

/*.panel-heading .pagination,*/
/*.panel-footer .pagination {*/
    /*margin: -11px -16px; *//* Based off default .panel-heading padding */

/*> li {*/
/*> a,*/
/*> span {*/
      /*padding: 10px 18px; *//* Based off default .panel-heading padding */
  /*}*/
/*}*/

/*}*/

/*.panel-heading .pagination {*/
/*> li {*/
/*&:last-child {*/
/*> a,*/
/*> span {*/
      /*border-bottom-right-radius: 0;*/
  /*}*/
/*}*/
/*}*/
/*}*/

/*.panel-footer .pagination {*/
/*> li {*/
/*&:last-child {*/
/*> a,*/
/*> span {*/
      /*border-top-right-radius: 0;*/
  /*}*/
/*}*/
/*}*/
/*}*/
