<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">General shop item information</h2>
    </div>
    <form name="generalForm" ng-submit="save()">
        <div class="panel-body">
            <field-group for="title">
                <label for="inputTitle" class="control-label">Title</label>
                <input class="form-control" id="inputTitle" type="text" name="title" ng-model="inputData.title" ng-minlength="4" ng-maxlength="128" required />
                <validation-message for="title" />
            </field-group>

            <field-group for="price">
                <label for="inputPrice" class="control-label">Price</label>

                <div class="input-group">
                    <span class="input-group-addon">EUR</span>
                    <input class="form-control" id="inputPrice" type="number" name="price" min="0" step="1" ng-model="inputData.price" required/>
                    <span class="input-group-addon">.00</span>
                </div>
                <validation-message for="price" />
            </field-group>

            <field-group for="shop_category_id">
                <label for="inputCategory" class="control-label">Category</label>
                <select class="form-control" id="inputCategory" name="shop_category_id" ng-model="inputData.shop_category_id" required selectize list-options="staticData.shopCategories">
                </select>
                <validation-message for="shop_category_id" />
            </field-group>
        </div>
        <div class="panel-footer">
            <button type="submit" ng-disabled="!canSave()" class="btn btn-default">Next</button>
            <hr/>
            <pre>{{ inputData | json }}</pre>
        </div>

    </form>
</div>
