<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Project file information</h2>
    </div>
    <form name="projectFileForm" ng-submit="save()">
        <div class="panel-body">
            <field-group for="music_genre_id">
                <label for="inputMusicGenre" class="control-label">Music genre</label>

                <select class="form-control" id="inputMusicGenre" name="music_genre_id" ng-model="inputData.music_genre_id" required selectize-tags list-options="staticData.musicGenres">
                </select>
                <validation-message for="music_genre_id" />
            </field-group>

            <field-group for="bpm">
                <label for="inputBpm" class="control-label">BPM</label>

                <input class="form-control" id="inputBpm" name="bpm" type="number" min="1" step="1" ng-model="inputData.bpm" required />
                <validation-message for="bpm" />
            </field-group>

            <field-group for="description">
                <label for="inputDescription" class="control-label">Description</label>

                <textarea class="form-control" id="inputDescription" name="description" ng-model="inputData.description" required rows="10" />
                <validation-message for="description" />
            </field-group>

            <field-group for="music_program_ids">
                <label for="inputMusicPrograms" class="control-label">Music programs</label>

                <input type="text" class="form-control" id="inputMusicPrograms" name="music_program_ids" ng-model="inputData.music_program_ids" required selectize-tags list-options="staticData.musicPrograms" multiple />
                <validation-message for="music_program_ids" />
            </field-group>

            <field-group for="music_plugin_ids">
                <label for="inputMusicPlugins" class="control-label">Music plugin</label>

                <input class="form-control" id="inputMusicPlugins" name="music_plugin_ids" ng-model="inputData.music_plugin_ids" required selectize-tags list-config="staticData.listConfigs.plugins" list-options="staticData.musicPlugins" multiple />
                <validation-message for="music_plugin_ids" />
            </field-group>

            <field-group for="music_plugin_bank_ids">
                <label for="inputMusicPluginBanks" class="control-label">Music plugin banks</label>

                <div class="input-group">
                    <input class="form-control" id="inputMusicPluginBanks" name="music_plugin_bank_ids" ng-model="inputData.music_plugin_bank_ids" required selectize-tags list-config="staticData.listConfigs.banks" list-options="inputData.musicPluginBanks" multiple /><span class="input-group-btn">
                        <a href="" class="btn btn-default" style="margin-top: -4px;" data-template="pop-test.html" data-container="body" data-placement="top" bs-popover>New Bank</a>
                    </span>
                </div>
                
                <validation-message for="music_plugin_bank_ids" />
            </field-group>             
            <script type="text/ng-template" id="pop-test.html">
            <div class="popover">
                <div class="arrow"></div>
                <h3 class="popover-title">New plugin bank</h3>
                <div class="popover-content">
                    <form name="pluginBankForm" ng-submit="saveNewPluginBank()">
                        <field-group for="music_plugin_id">
                            <label for="inputMusicPlugin" class="control-label">Plugin</label>

                            <input class="form-control" id="inputMusicPlugin" name="music_plugin_id" ng-model="inputData.newBank.music_plugin_id" required selectize-tags list-config="staticData.listConfigs.newPluginBank" list-options="staticData.musicPlugins" />
                            <validation-message for="music_plugin_id" />
                        </field-group>      
                        <field-group for="music_bank[name]">
                            <label for="music_bank[name]" class="control-label">Bank name</label>
                            <input class="form-control" id="music_bank[name]" type="text" name="music_bank[name]" ng-model="inputData.newBank.name" required />
                            <validation-message for="music_bank[name]" />
                        </field-group>

                        <div class="form-group">
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group">
                                    <a ng-click="resetNewPluginBankForm()" class="btn btn-default">Cancel</a>
                                </div>
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </script>
            
        </div>
        <div class="panel-footer">
            <button type="submit" ng-disabled="!canSave()" class="btn btn-default">Next</button>
            <hr />
            inputData
            <pre>{{ inputData | json }}</pre>
            staticData
            <pre>{{ staticData | json }}</pre>
        </div>
    </form>
</div>
