<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Project file information</h2>
    </div>
    <form name="projectFileForm" ng-submit="save()">
        <div class="panel-body">
            <field-group for="music_genre_id">
                <label for="inputMusicGenre" class="control-label">Music genre</label>

                <select class="form-control" id="inputMusicGenre" name="music_genre_id" ng-model="inputData.music_genre_id" required selectize-tags list-options="staticData.musicGenres">
                </select>
                <validation-message for="music_genre_id" />
            </field-group>

            <field-group for="bpm">
                <label for="inputBpm" class="control-label">BPM</label>

                <input class="form-control" id="inputBpm" name="bpm" type="number" min="1" step="1" ng-model="inputData.bpm" required />
                <validation-message for="bpm" />
            </field-group>

            <field-group for="description">
                <label for="inputDescription" class="control-label">Description</label>

                <textarea class="form-control" id="inputDescription" name="description" ng-model="inputData.description" required rows="10" />
                <validation-message for="description" />
            </field-group>

            <field-group for="music_program_ids">
                <label for="inputMusicPrograms" class="control-label">Music programs</label>

                <input type="text" class="form-control" id="inputMusicPrograms" name="music_program_ids" ng-model="inputData.music_program_ids" required selectize-tags list-options="staticData.musicPrograms" multiple />
                <validation-message for="music_program_ids" />
            </field-group>

            <field-group for="music_plugin_ids">
                <label for="inputMusicPlugins" class="control-label">Music plugin</label>

                <input class="form-control" id="inputMusicPlugins" name="music_plugin_ids" ng-model="inputData.music_plugin_ids" required selectize-tags list-config="staticData.listConfigs.plugins" list-options="staticData.musicPlugins" multiple />
                <validation-message for="music_plugin_ids" />
            </field-group>

            <field-group for="music_plugin_bank_ids">
                <label for="inputMusicPluginBanks" class="control-label">Music plugin banks</label>

                <input class="form-control" id="inputMusicPluginBanks" name="music_plugin_bank_ids" ng-model="inputData.music_plugin_bank_ids" required selectize-tags list-config="staticData.listConfigs.banks" list-options="staticData.musicPluginBanks" multiple />
                <validation-message for="music_plugin_bank_ids" />
            </field-group>                        
        </div>
        <div class="panel-footer">
            <button type="submit" ng-disabled="!canSave()" class="btn btn-default">Next</button>
            <hr />
            <pre>{{ inputData | json }}</pre>
        </div>
    </form>
</div>
