<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Upload files</h3>
	</div>
	<form ng-submit="save()">
		<div class="panel-body">
			<div flow-init flow-files-submitted="$flow.upload()" flow-file-success="uploadFinished($file, $message)" flow-progress="updateProgress($flow)">
				<div class="alert" style="text-align: center; line-height: 34px;" flow-drop flow-drag-enter="dragEnter=true" flow-drag-leave="dragEnter=false" ng-class="{'alert-info': !dragEnter, 'alert-success': dragEnter}">
					<span class="btn btn-default" flow-btn>Select files</span> <strong>OR</strong> Drag And Drop your files here
				</div>
				<progressbar value="uploadProgress" class="progress-striped" ng-class="{active: $flow.isUploading()}" ng-show="$flow.isUploading() || $flow.progress() == 1"></progressbar>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Selected files for this item</h4>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="col-sm-3">Preview</th>
							<th>File name</th>
							<th>Use as</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="file in inputData.selectedFiles">
							<td>
								<image-preview file="file"></image-preview>
							</td>
							<td>{{ file.original_name }}</td>
							<td>
								<div class="btn-group">
									<a ng-repeat="(fileUseType, fileUse) in uploadFileConfig" ng-click="changeFileUse(file, fileUseType, fileUse)" class="btn btn-default btn-xs" ng-model="file.use_as" btn-radio="fileUseType">{{fileUse.displayText}}</a>
								</div>
							</td>
							<td>
								<a class="btn btn-danger btn-xs" ng-click="removeFromSelectedFiles(file)">Deselect</a>
							</td>
						</tr>
						<tr ng-hide="inputData.selectedFiles.length">
							<td class="text-center" colspan="3">No data available</td>
						</tr>
					</tbody>
				</table>
			</div>

			<files-table files="inputData.newlyUploadedFiles" panel-title="Newly uploaded files"></files-table>
			<files-table files="resourceFiles" panel-title="Uploaded files" default-collapse="true"></files-table>
		</div>
		<div class="panel-footer" style="overflow: hidden;">
			<a type="submit" class="btn btn-default pull-right" ng-disabled="!canSave()" href="" ng-click="save()">Next</a>
		</div>
	</form>
</div>
