<fieldset>
	<legend>{{ step.heading }}</legend>
	<ul class="media-list">
		<li class="media" ng-repeat="file in step.inputData.selectedFiles">
			<a ng-href="file.download_url" class="pull-left col-sm-2">
				<image-preview file="file" class="media-object"></image-preview>
			</a>

			<div class="media-body">
				<h4 class="media-heading">{{ file.original_name }} <small>{{ file.mime_type }}</small></h4>
				<p>
					<table class="table table-condensed table-bordered">
						<tr>
							<th colspan="1">Download URL</th>
							<td colspan="3"><a ng-href="file.download_url">{{ file.download_url }}</a></td>
						</tr>
						<tr>
							<th>File size</th>
							<td>{{ file.size | bytes }}</td>
							<th>Usage</th>
							<td>{{ file.use_as }}</td>
						</tr>
					</table>
					<dl class="dl-horizontal" ng-if="false">
						<dt>Download URL</dt>
						<dd>
							<a ng-href="file.download_url">{{ file.download_url }}</a>
						</dd>

						<dt>File size</dt>
						<dd>{{ file.size | bytes }}</dd>

						<dt>Usage</dt>
						<dd>{{ file.use_as }}</dd>
					</dl>
				</p>
			</div>
		</li>
	</ul>
</fieldset>
